<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Para el amor de mi vida</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Solo apto para el amor de mi vida</h1>
        <p>¿Deseas continuar?</p>
            <button onclick="alert('Gracias por tu honestidad, este detalle no es para ti')">No</button>
            <button onclick="location.href='/video'">Sí</button>
        </div>
    </div>
</body>
</html>